:root {
    --pink-color: #e26e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(65, 88, 208), rgb(200, 80, 192), rgb(255, 204, 112));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.open-modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    width: 450px;
    background-color: #fff;
    margin: 200px auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    animation: modal-show 0.25s linear;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: var(--pink-color);
    color: #fff;
}

.modal-header i:hover {
    color: black;
    cursor: pointer;
}

.modal-body {
    padding: 15px;
}

.modal-body h2 {
    color: #e26e70;
    margin-bottom: 10px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
}

.modal-footer button {
    padding: 10px 20px;
    border: none;
    background: #e26e70;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes modal-show {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}